.header {
    color: antiquewhite;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#time {
    margin: 15px 25px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #6c0303;
    background: #c4fffb;

}
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    color: #ce4040;
    background: #ff9a9a;
    border-bottom: 5px solid #e14242;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}


.content {
    height: 100vh;
    background: linear-gradient(45deg, tomato, darkblue);
}


h2, .text {
    color: antiquewhite;
    font-family: "Tahoma", serif;
}


h3 {
    color:white;
    font-family: "Tahoma", serif;
}

.input-field {
    text-align: left;
    margin-left: 3em;
}

input[type=text] {
    width: 70%;
    background: transparent;
    padding: 40px 40px 40px 100px;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: "Tahoma", serif;
    font-size: 24px;
    cursor: text;
}

.element {
    margin: 2em;
}

::placeholder {
    font-family: "DejaVu Sans Mono", serif;
    font-size: 24px;
}
.select {
    padding: 1em;
}

option {
    font-family: "DejaVu Sans Mono", serif;
    font-size: 24px;
}


